@import "tailwindcss";



  .skill-card:hover {
    transform: scale(1.05);
  }
  
  .glow-logo {
    filter: drop-shadow(0 0 2px var(--color-purple-500)) drop-shadow(0 0 2px var(--color-purple-500));
  }
  
  .glow-logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1px var(--color-purple-500)) drop-shadow(0 0 1px var(--color-purple-500));
  }
